FormatStyle: LLVM
WarningsAsErrors: '*'
Checks: '*,-llvmlibc-restrict-system-libc-headers,-llvmlibc-implementation-in-namespace,-modernize-use-trailing-return-type,-llvmlibc-callee-namespace,-fuchsia-default-arguments-calls,-bugprone-easily-swappable-parameters,-altera-unroll-loops,-altera-id-dependent-backward-branch,-llvm-include-order,-google-runtime-references'